<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <button class="close-button" (click)="closeModal()" aria-label="Close modal">&times;</button>

    <div class="modal-body">
      <div class="modal-flag-wrapper">
        <img
          [src]="country.flags?.png"
          [alt]="country.name?.official"
          class="country-flag-modal"
        />
      </div>

      <div class="modal-info">
        <h2 class="modal-title">{{ country.name.official || 'N/A' }}</h2>

        <ul class="country-details">
          <li><strong>Common Name:</strong> {{ country.name.common || 'N/A' }}</li>
          <li><strong>Capital:</strong> {{ country.capital || 'N/A' }}</li>
          <li><strong>Region:</strong> {{ country.region || 'N/A' }}</li>
          <li><strong>Subregion:</strong> {{ country.subregion || 'N/A' }}</li>
          <li><strong>Population:</strong> {{ country.population ? (country.population | number) : 'N/A' }}</li>
          <li>
            <strong>Languages:</strong>
            <span *ngIf="getLanguages(country)?.length; else noLanguages">
              <span *ngFor="let language of getLanguages(country); let last = last">
                {{ language }}<span *ngIf="!last">, </span>
              </span>
            </span>
            <ng-template #noLanguages>N/A</ng-template>
          </li>
          <li>
            <strong>Currency:</strong>
            <span *ngIf="getCurrencies(country)?.length; else noCurrencies">
              <span *ngFor="let currency of getCurrencies(country); let last = last">
                {{ currency.name }} ({{ currency.symbol }})<span *ngIf="!last">, </span>
              </span>
            </span>
            <ng-template #noCurrencies>N/A</ng-template>
          </li>
          <li>
            <strong>Border Countries:</strong>
            <span *ngIf="country.borders?.length; else noBorders">
              <span *ngFor="let border of country.borderCountries; let last = last">
                {{ border }}<span *ngIf="!last">, </span>
              </span>
            </span>
            <ng-template #noBorders>N/A</ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
